{{ define "content" }}
<section id="screens" x-data="harmony" :style="{ width: `${canvas.width}px`, height: `${canvas.height}px` }">
    <template x-for="group in groups">
        <section class="screen-group" 
            :style="{ 
                width: `${group.width}px`, 
                height: `${group.height}px`, 
                top: `${group.pos.y}px`, 
                left: `${group.pos.x}px` 
            }" 
            draggable="true"
            @mouseDown.prevent.stop="handleDragStart($event, group)"
        >
            <template x-for="(screen, i) in group.screens">
            <article class="screen" :style="{ 
                width: `${screen.width}px`, 
                height: `${screen.height}px`, 
                top: `${screen.pos.y}px`, 
                left: `${screen.pos.x}px` 
            }">
                    <span class="idx" x-html='`${group.name}<br>${i}`'></span>
                </article>
            </template>
        </section>
    </template>
</section>
<style>
    * {
        box-sizing: border-box;
    }

    html, body {
        margin: 0;
        padding: 0;
    }

    #screens {
        position: absolute; 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #screens .screen-group {
        position:absolute;
        background: gray;
    }

    #screens .screen-group .screen {
        background: white;
        position: absolute;
        border: 4px solid black;
    }

    #screens .screen-group .screen span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 32px;
        font-weight: bold;
        text-align: center;
    }

    .bad-screen {
        background: rgba(255, 0, 0, 0.5);
    }
</style>
<script type="module">
    import Harmony from "/js/harmony.js";

    window.addEventListener("alpine:init", function() {
        Harmony({{ .groups }});
    });
</script>
<script src="/js/alpine.min.js" defer></script>
{{ end }}
